<div mat-dialog-title>
  {{data.data.title}}
</div>
<div mat-dialog-content>
  <form [formGroup]="categoryForm">
    <c-row class="mt-2">
      <c-col md="6">
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input formControlName="name" matInput>
        </mat-form-field>
      </c-col>
    </c-row>
    <div class="d-flex justify-content-between">
      <button mat-stroked-button (click)="cancel()" color="light" >Annuler</button>
      <button mat-raised-button (click)="add()" color="primary" >{{data.data.actionButton}}</button>
    </div>
  </form>
</div>
